@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Righteous&family=Roboto:wght@400;900&family=Work+Sans:ital,wght@0,400;0,600;1,200&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/*MENU*/
.header-container{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.header-container header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.header-container header .logo a{
    font-family: 'Rock Salt';
    font-size: 26px;
    color: #FA03EF;
    text-decoration: none;
}
.header-container header ul{
    display: flex;
    list-style: none;
}
.header-container header nav ul li a{
    text-align: none;
    color: #fff;
    margin:  0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.header-container header nav ul li a:hover{
    color: #FA03EF;
}
.nav-responsive{
    background-color: #FA03EF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* home section */
.img-container img{
    border-radius: 50%;
    border: 5px black;   
}
.home{
    background: url(./media/background.jpg);  /*  linear-gradient(to top, rgba(30,35,38,8), rgba(30,35,38,1)), */
    background-size: cover;
    height: 100vh;
    color: #fff; 
    display: flex;
    align-items: center;
}
.home .banner-content{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.home .banner-content img{
    margin-top: 40px;
    border: 10px solid #FA03EF;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.home .banner-content h1{
    margin-top: 40px;
    font-size: 28px;
    font-family: 'Rock Salt';
}
.home .banner-content h2{
    font-size: 15px;
    font-weight: normal;
}
.home .banner-content .social a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.home .banner-content .social a:hover{
    background-color: #FA03EF;
}
/* about me */
.aboutme{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;

}
.aboutme .section-content{
    max-width: 1100px;
    margin: auto;
}
.aboutme h2{
    font-size: 40px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.aboutme .section-content p{
    font:18px;
    margin-bottom: 20px;
}
.aboutme .section-content p span{
    color: #FA03EF;
    font-weight: bold;
}
.aboutme .row{
    display: flex;
}
.aboutme .row .col{
    width: 50%;
}
.aboutme .row .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.aboutme .row .col ul li{
    margin: 12px 0;
}
.aboutme .row .col ul li strong{
    display: inline-block;
    color:#FA03EF;
    width: 130px;
}
.aboutme .row .col ul li span{
    background-color: #FA03EF;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.aboutme .row .col .interest-container{
    display: flex;
    flex-wrap: wrap;
}
.aboutme .row .col .interest-container .interests{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.aboutme .row .col .interest-container .interests:hover{
    background-color: #FA03EF;
}
.aboutme .row .col .interest-container .interests i{
    font-size: 30px;
    margin-bottom: 10px;
}
.aboutme a{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.aboutme a .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #FA03EF;
    z-index: -1;
    transition: 1s;
}
.aboutme a:hover .overlay{
    width: 100%;
}
/* skills section */

.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;

}
.skills .section-content{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 40px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.skills .row{
    display: flex;
}
.skills .row .col{
    width: 50%;
    padding: 0 20px;
}
.skills .row .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .skillbar{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progress{
    background-color: #FA03EF;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .skillbar span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #FA03EF;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: -14px;
}
/* these classes will be added dynamically by javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width:0%;}
    100%{width:20%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width:0%;}
    100%{width:30%;}
}

.skills .skill .react{
    width: 0%;
    animation: 2s react forwards;
}
@keyframes react {
    0%{width:0%;}
    100%{width:10%;}
}
.skills .skill .hardwork{
    width: 0%;
    animation: 2s hardwork forwards;
}
@keyframes hardwork {
    0%{width:0%;}
    100%{width:60%;}
}
.skills .skill .teamwork{
    width: 0%;
    animation: 2s teamwork forwards;
}
@keyframes teamwork {
    0%{width:0%;}
    100%{width:80%;}
}
.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width:0%;}
    100%{width:1%;}
}
.skills .skill .comunication{
    width: 0%;
    animation: 2s comunication forwards;
}
@keyframes comunication {
    0%{width:0%;}
    100%{width:85%;}
}
.skills .skill .creativity{
    width: 0%;
    animation: 2s creativity forwards;
}
@keyframes creativity {
    0%{width:0%;}
    100%{width:35%;}
}
/* section curriculum */

.cv{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;

}
.cv .section-content{
    max-width: 1100px;
    margin: auto;
}
.cv h2{
    font-size: 40px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.cv .row{
    display: flex;
    justify-content: space-between;
}
.cv .row .col{
    width: 49%;
    padding: 0 20px;
}
.cv .row .col h4{
    font-size: 20px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.cv .row .left{
    border-right: 2px solid #252A2E;
}
.cv .row .right{
    border-left: 2px solid #252A2E;
}
.cv .row .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.cv .row .item h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.cv .row .item .house{
    color: #FA03EF;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.cv .row .item .date{
    display: block;
    color: #FA03EF;
    margin-bottom: 10px;
}
.cv .row .item p{
    line-height: 24px;
}
.cv .row .left{
    border-right: 2px solid #FA03EF;
    margin-right: 20px;
}
.cv .row .right{
    border-left: 2px solid #FA03EF;
    margin-left: 20px;
}
.cv .row .item .conect1{
    height: 2px;
    background-color: #FA03EF;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.cv .row .item .conect1 .circle1{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FA03EF;
    float: right;
    position: relative;
    bottom: 4px;
}
.cv .row .item .conect2{
    height: 2px;
    background-color: #FA03EF;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.cv .row .item .conect2 .circle2{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FA03EF;
    float: left;
    position: relative;
    bottom: 4px;
}

/* portfolio section */

.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .section-content{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galery .proyect{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galery .proyect img{
    width: 100%;
    display: block;
}
.portfolio .galery .proyect .overlay{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(#FA03EF, #FA03EF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galery .proyect .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galery .proyect .overlay:hover{
    opacity: 1;
}
.portfolio .galery .proyect .overlay:hover h3{
    margin-bottom: 0px;
}
.portfolio .galery .proyect .overlay:hover a{
    text-decoration: none;
    color: #fff;
}
/* contact section */

.contact{
    /* background-image: url('./media/images.jpeg');
    background-size: cover; */
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;

}
.contact .section-content{
    max-width: 1100px;
    margin: auto;
}
.contact h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contact .row{
    display: flex;
}
.contact .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contact .col input, .contact .col  textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contact button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contact button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #FA03EF;
    z-index: -1;
    transition: 1s;
}
.contact button:hover .overlay{
    width: 100%;
}
.contact .col img{
    width: 100%;
}
.contact .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact .col .info ul{
    list-style: none;
}
.contact .col .info ul li{
    margin-bottom: 20px;
}
.contact .col .info ul li i{
    color: #FA03EF;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .social{
    margin-bottom: 20px;
}
footer .social a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px  solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .up{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #FA03EF;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:  -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* responsive section */

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .aboutme .row{
        display: block;
    }
    .aboutme .row .col{
        width: fit-content;
    }
    .skills .row{
        display: block;
    }
    .skills .row .col{
        width: 100%;
    }
    .skills .row .col .skillbar{
        width: 100%;
    }
    .cv .row{
        display: block;
    }
    .cv .row .col{
        width: 90%;
    }
    .cv .row .right{
        margin-left: 20px;
    }
    .portfolio .galery{
        display: block;
        width: 100%;
    }
    .portfolio .galery .proyect{
        max-width: 100%;
    }
    .portfolio .galery .proyect img{
        width: 100%;
    }
    .contact .row{
        display: block;
    }
    .contact .row .col{
        width: 100%;
    }
}



